body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  height: 100vh;
  overflow-y: auto;
}

.flecha {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

header {
  grid-area: header;
  background-color: #538efb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.titulo {
  color: beige;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 3px gray;
}

.imagem {
  width: 50px;
  height: auto;
}

.conteudo {
  background: white;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  color: #222;
  height: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
}

.textPrinc * {
  font-size: 24px;
}
.conteudo h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.conteudo h3 {
  margin-top: 20px;
  font-size: 23px;
  color: #333;
}

.conteudo p {
  margin: 5px 0;
  font-size: 18px;
  text-align: justify;
}
