body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background: #3978ee;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.header_conteudo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  width: 100px;
}

a {
  width: 100%;
}

input[type="button"],
input[type="submit"] {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #7591cf;
  color: rgb(0, 0, 0);
  width: 100%;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}
